name: Deploy to GHCR

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

on:
  push:
    branches: [master]
  workflow_dispatch:
  # repository_dispatch:
  #   types:
  #     - webhook

jobs:
  deploy-backend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: "Login to GitHub Container Registry"
        uses: docker/login-action@v2
        with:
          registry: ${{env.REGISTRY}}
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Build containers
        run: docker compose build

      - name: Add tag
        run: docker tag ${{env.REGISTRY}}/${{env.IMAGE_NAME}}:latest ${{env.REGISTRY}}/${{env.IMAGE_NAME}}:${{github.sha}}

      - name: Push to Docker Hub
        run: |
          docker push ${{env.REGISTRY}}/${{env.IMAGE_NAME}}:latest
          docker push ${{env.REGISTRY}}/${{env.IMAGE_NAME}}:${{github.sha}}
